
html,body,#app,.el-container {
  margin: 0px;
  height: 100%;
}

a, a:focus, a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.el-row {
  margin-bottom: 10px;
}

.el-form-item--medium .el-form-item__content, .el-form-item--medium .el-form-item__label {
  line-height: 30px;
}

.el-header {
  background-color: #B3C0D1;
  color: #333;
  line-height: 60px;
}

.el-main {
  padding: 0px;
  /* overflow: hidden; */
}

/* .role_scrollbar > .el-scrollbar__wrap {
  overflow-x: hidden;
} */

/* .el-main {
  overflow: visible
} */

/* .current-row>td {
  background: #55d311 !important;
} */

/* .el-input--suffix .el-input__inner {
  height: 50px !important;
} */